{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" />
    <!-- Theme tittle -->
    <title>Alons | Perfect Business Consulting Html Template</title> 
    
    <!-- Theme style CSS -->      
    <link href="{% static 'css/style.css' %}" rel="stylesheet"> 

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body> 

	<!-- Header Top Area -->
	<div class="header_top_area hta_2">
		<div class="container">
			<div class="header_top_inner row m-0">
				<ul class="top_menu col-lg-4 col-md-6 p-0">
					<li><a href="#" class="number"><small>Call us</small>029292162</a></li>
					<li><a href="#">Career</a></li> 
					<li><a href="#">Support</a></li>
				</ul>
				<div class="col-lg-5 text-center hidden-md">
					<a href="index.html" class="navbar-brand"><img src="{% static 'images/Moneybazaar1.png' %}" alt=""></a>
				</div>
				<div class="right_menu col-lg-3 col-md-6 p-0">
					<ul class="right_nav">
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-vine"></i></a></li>
						<li class="dropdown search_dropbown">
							<a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-search"></i></a>
							<ul class="dropdown-menu">
								<li>
									<input type="text" placeholder="Search..">
									<span><i class="fa fa-search"></i></span>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Header Top Area -->
    
    <!-- Header Area -->
    <header class="main_header_area mha_2"> 
       <div class="container">
            <div class="header_menu"> 
                <nav class="navbar navbar-expand-lg"> 
                    <a class="navbar-brand" href="index.html">
                        <img src="{% static 'images/logo.png' %}" alt="">
                    </a> 
                    <!-- Small Divice Menu-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar_supported"  aria-expanded="false" aria-label="Toggle navigation"> 
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>

                    <div class="collapse navbar-collapse navbar_supported">
                        <ul class="navbar-nav"> 
                                <li class="dropdown">
                                    <li><a href="index.html">Home</a></li>
                            </li>
                            <li><a class="nav-link" href="creditcard.html">Credit Card</a></li>       
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown" aria-expanded="false">Loans</a>
                                <ul class="dropdown-menu"> 
                                    <li><a href="personal_loan.html">Personal Loan </a></li>
                                    <li><a href="educationloan.html">Education Loan</a></li>
                                    <li><a href="homeloan.html">Home Loan</a></li>
                                    <li><a href="carloan.html">Car Loan</a></li> 
                                    <li><a href="business_loan.html">Business Loan</a></li>   
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown" aria-expanded="false">Investment</a>
                                <ul class="dropdown-menu">
                                    <li><a href="http://demat.moneyvalue.co/">Demat Account</a></li>   
                                    <li><a href="http://acc.moneyvalue.co/">Saving Account</a></li>   
                                </ul>
                            </li>    
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog.html">Blog</a></li>  
                                    <li><a href="blog-details.html">Blog details </a></li> 
                                </ul>
                            </li>     
                            <li><a href="contact.html">Contact us</a></li>   
                            <li class="apply_right"><a class="theme_btn" href="#">Apply Now</a></li>  
                        </ul>   
                    </div>
                </nav>  
           </div>
        </div>
    </header>
    <!-- Header Area -->   
        
    <!-- Banner Area --> 
    <section class="banner_area">
    	<div class="container">
    		<h6>About Us</h6>
    		<h2>Short story about <span>alons</span></h2>
    		<ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>     
                <li><a href="about.html" class="active">About Us</a></li> 
            </ol>
    	</div>
    </section>
    <!-- Banner Area --> 
    
    <!-- Achieve your financial -->
    <section class="achieve_financial_area afa_2">
        <div class="container"> 
            <div class="row achieve_inner">
                <div class="col-12 personal_tittle">
                    <p><span>You can achieve your financial goals.</span> We can help. Pay off your loan with fixed 3 or 5-year* terms</p>
                    <a href="#" class="theme_btn">All Personal Loans</a>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeIn">
                    <div class="achieve"> 
                        <div class="icon_img"><img src="{% static 'images/icons/banker.png' %}" alt=""></div>
                        <a href="#">Personal Loan @ 10.75%</a>
                        <p>Unlimited Rewards. Enjoy Attractive Deals & Discounts. Flexible Payment Options. Global Usage Privilege</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.3s">
                    <div class="achieve">
                        <div class="icon_img"><img src="{% static 'images/icons/money-bag.png' %}" alt=""></div> 
                        <a href="#">Repayable in 12 to 60 EMIs</a>
                        <p>Globally Accepted. Lowest Interest @ 20% Annually. Worldwide Cash Advance <br> Facility.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeIn" data-wow-delay="0.6s">
                    <div class="achieve">
                        <div class="icon_img"><img src="{% static 'images/icons/money-bag-2.png' %}" alt=""></div> 
                        <a href="#">Personal Loan @ 10.75%</a>
                        <p>Get Credit Card Within 24 hours ! Up to 98% Cash Withdrawal Facilities by <br> Card Cheque</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Achieve your financial -->

    <!-- Previous Record -->
    <section class="previous_record_area pra_2">
        <div class="previous_right">
           <div class="previous_content"> 
				<div class="alons_text">
					<h2>Alons Previous Record</h2>
					<h4>More the 20 years experience </h4>
					<p>Helping Your Business Reach Its Full Potential , Whether you are a start-up or a large corporation, RBC has the tools you need to start and run your business all in one place.</p>
					<p>Starting a business is both exciting and challenging. We can help you every step of the way.</p>
					<a href="#" class="theme_btn">Read more details</a>
					<img src="{% static 'images/icons/signuarte.png' %}" alt="">
				</div>
				<div class="projects_done row">
					<div class="col-md-4 counter_items">
						<h4>Projects Done</h4>
						<h2 class="counter">3472</h2>
					</div>
					<div class="col-md-4 counter_items">
						<h4>Loan Increase</h4>
						<h2><span class="counter">156</span>K</h2>
					</div>
					<div class="col-md-4 counter_items">
						<h4>Offer Low Interest</h4>
						<h2><span class="counter">5.60</span>%</h2>
					</div>
				</div>
           </div>
           
			<div class="previous_img_2">
				<img src="{% static 'images/previous_record-2.jpg' %}" alt="">
			</div>
        </div>
    </section>
    <!-- Previous Record --> 
    
    <!-- Our Purpose Area -->
    <section class="purpose_area">
        <div class="container">
            <p class="tittle_p">For more than 130 years, companies around the world have depended on Intertek to help ensure the quality and safety of their products, processes and systems.</p>
            <div class="media mission">
                <img src="{% static 'images/mission.jpg' %}" alt="">
                <div class="media-body">
                    <h2 class="p-0">OUR MISSION, VISION AND VALUES</h2>
                    <p class="fast_p">For more than 130 years, Intertek’s story has always been about innovation. In 1885 we began testing and certifying grain cargoes before they were put to sea, and in 1888 we pio-neered the idea of independent testing laboratories. Then in 1896, the greatest inventor of them all became part of our story. When Thomas Edison released the wonders of electricity and the light bulb he wanted to ensure that his products were checked, tested and safe. He established the Lamp Testing Bureau, later to </p>
                    <h2>Our Purpose</h2>
                    <p>Bringing quality and safety to life.</p>
                    <h2>Our Mission</h2>
                    <p>We're committed to providing Canadians with fast cash loans between $1000 and $25,000 when they need it most1.</p>
                </div>
            </div>
            <div class="vision"> 
                <h2>Our Vision</h2>
                <p> Since starting our business in 2006, our 200+ branches have helped over 230,000 Canadians and counting. Helping Canadians access affordable personal loans</p>
                <img src="{% static 'images/vision.jpg' %}" alt="">
            </div>
        </div>
    </section>
    <!-- End Our Purpose Area -->
    
    <!-- Join us conversation Area -->
    <section class="join_conversation">
        <div class="container">
            <div class="tittle">
               <p>We live our values, attract and retain talent, encourage entrepreneurial spirit and are proud of our corporate culture and the integrity of our people</p>
                <a href="#" class="theme_btn">Join us conversation</a>
            </div> 
            <div class="owl-carousel conversation">
                <div class="item">
                    <img src="{% static 'images/team-1.jpg' %}" alt="">
                    <div class="hover_item">
                        <a href="#" class="name_item">Mahfuz Riad <small>( Banking CEO )</small></a>
                        <ul class="socail_icon">
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="item"> 
                    <img src="{% static 'images/team-2.jpg' %}" alt="">
                    <div class="hover_item">
                        <a href="#" class="name_item">Emran Khan <small>( CEO Themexe )</small></a>
                        <ul class="socail_icon">
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'images/team-3.jpg' %}" alt="">
                    <div class="hover_item">
                        <a href="#" class="name_item">Mahfuz Riad <small>( Banking CEO )</small></a>
                        <ul class="socail_icon">
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'images/team-1.jpg' %}" alt="">
                    <div class="hover_item">
                        <a href="#" class="name_item">Masum Rana <small>( Themexy CEO )</small></a>
                        <ul class="socail_icon">
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'images/team-2.jpg' %}" alt="">
                    <div class="hover_item">
                        <a href="#" class="name_item">Jakaria Khan <small>( Banking CEO )</small></a>
                        <ul class="socail_icon">
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                        </ul>
                    </div>
                </div> 
                <div class="item">
                    <img src="{% static 'images/team-2.jpg' %}" alt="">
                    <div class="hover_item">
                        <a href="#" class="name_item">Foqrul Islam</a>
                        <ul class="socail_icon">
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                        </ul>
                    </div>
                </div> 
                <div class="item">
                    <img src="{% static 'images/team-3.jpg' %}" alt="">
                    <div class="hover_item">
                        <a href="#" class="name_item">Mahfuz Riad</a>
                        <ul class="socail_icon">
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                        </ul>
                    </div>
                </div> 
                <div class="item">
                    <img src="{% static 'images/team-1.jpg' %}" alt="">
                    <div class="hover_item">
                        <a href="#" class="name_item">Mahfuz Riad</a>
                        <ul class="socail_icon">
                            <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>
    </section>
    <!-- End Join us conversation Area --> 
	
	<!-- Testimonial Area -->
	<section class="testimonial_area ta_2">
		<div class="container">
			<div class="tittle">
				<h2>Words From Customer <span>Testimonial</span></h2>
			</div>
			<div class="owl-carousel testimonial">
				<div class="item">
					<a href="#">Emran Khan ( CEO )</a>
					<div class="client_info fast_i">
						<img src="{% static 'images/testimonial-1.jpg' %}" alt="">
						<h4>Financial health</h4>
						<p>The representative helping me was absolutely fantastic. Not only did I get my loan but she also advised me that she could help me get my credit back No other financial institute </p>
					</div>
				</div>
				<div class="item">
					<a href="#">Tamim anj ( CTO )</a>
					<div class="client_info">
						<img src="{% static 'images/testimonial-2.jpg' %}" alt="">
						<h4>Financial health</h4>
						<p>The representative helping me was absolutely fantastic. Not only did I get my loan but she also advised me that she could help me get my credit back No other financial institute </p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonial Area --> 
	
	<!-- Get started -->
	<section class="get_started_area">
		<div class="container">
			<h2>Ready to get started?</h2>
			<p>Would recommend Money Me to a friend</p>
			<a href="#" class="theme_btn">Apply for business loan </a>
		</div>
	</section>
	<!-- End get started -->
	
	<!-- Subscirbe_area -->
	<section class="subscirbe_area">
		<div class="container"> 
			<div class="row subscirbe_inner">
				<h2 class="col-lg-5">Subscirbe Our Newslatter!!</h2>
				<div class="input-group col-lg-7">
					<input type="email" class="form-control" placeholder="Your Email address" id="myMail">
					<div class="input-group-prepend" id="submit_email">
						<span class="input-group-text"><i class="flaticon-right-arrow"></i></span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End subscirbe_area -->
	
    <!-- Footer Area -->  
    <footer class="footer_area fa_2">
        <div class="container">
            <div class="footer_inner row"> 
                <div class="col-xl-4 col-md-5 col-sm-7 footer_logo wow fadeIn">
                    <a href="index.html"><img src="{% static 'images/footer-logo.png' %}" alt=""></a>  
                    <p>© 2021 <a href="index.html">Money Bazaar</a>. All rights reserved</p> 
                    <ul class="footer_social">
                    	<li><a href="#"></a></li>
                    	<li><a href="#"></a></li>
                    	<li><a href="#"></a></li>
                    	<li><a href="#"></a></li>
                    </ul>
                </div> 
                <div class="footer_widget col-xl-2 col-md-4 col-sm-5 wow fadeIn" data-wow-delay="0.2s">
                    <h4>About</h4>
                    <ul class="footer_nav"> 
						<li><a href="#">How it Works</a></li>
						<li><a href="#">Guarantee</a></li>
						<li><a href="#">Security</a></li>
						<li><a href="contact.html">Contact</a></li>
						<li><a href="#">Our story</a></li> 
                    </ul>
                </div>  
                <div class="footer_widget col-xl-2  col-md-3 col-sm-4 wow fadeIn" data-wow-delay="0.4s">
                    <h4>Solution</h4>
                    <ul class="footer_nav">  
						<li><a href="#">Car Loan</a></li> 
						<li><a href="#">Personal Loan</a></li> 
						<li><a href="#">Education Loan</a></li> 
						<li><a href="#">Business Loan</a></li>  
                    </ul>
                </div> 
                <div class="footer_widget col-xl-2  col-md-5 col-sm-4 wow fadeIn" data-wow-delay="0.6s">
                    <h4>Need help?</h4>
                    <ul class="footer_nav">   
						<li><a href="#">Find a branch</a></li>    
						<li><a href="contact.html">Contact us</a></li>    
						<li><a href="faq.html">FAQ</a></li>    
						<li><a href="#">APR</a></li>    
                    </ul>
                </div> 
                <div class="footer_widget col-xl-2  col-md-4 col-sm-4 wow fadeIn" data-wow-delay="0.8s">
                    <h4>Save &amp; Invest </h4>
                    <ul class="footer_nav">   
						<li><a href="#">Credit Cards</a></li>  
						<li><a href="#">Mortgages</a></li>  
						<li><a href="#">Home Equity</a></li>  
						<li><a href="#">Lines of Credit</a></li>  
                    </ul>
                </div>  
            </div>
        </div>  
    </footer>
    <!-- End Footer Area -->   
    
    <!-- Scroll Top Button -->
    <button class="scroll-top">
        <i class="fa fa-angle-double-up"></i>
    </button>
    
    <!-- Preloader -->  
    <div class="preloader"></div> 
    
    <!-- jQuery v3.3.1 -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script> 
    <!-- Bootstrap v4.0.0 -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>  
    <!-- Extra Plugin -->
    <script src="{% static 'vendors/animate-css/wow.min.js' %}"></script>
    <script src="{% static 'vendors/counterup/jquery.waypoints.min.js' %}"></script> 
    <script src="{% static 'vendors/counterup/jquery.counterup.min.js' %}"></script>  
    <script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>   
    <script src="{% static 'vendors/bootstrap-selector/jquery.nice-select.min.js' %}"></script> 
    <!-- Theme js / Custom js -->
    <script src="{% static 'js/theme.js' %}"></script>
    <script type="text/javascript">

        $("#submit_email" ).click(function() {
            var get_email = document.getElementById("myMail").value;
            console.log('challllaaaa', get_email);
            $.ajax({
                type: 'POST',
                dataType: 'text',
                url: '/save-email',
                data: {"email": get_email},
                success: function (response) {
                    alert(response);
                    document.getElementById("get_email").value = '';
                },
            });
        });

	</script>
</body>
</html>